@page
@model Recipez.Pages.Home.Index

@{
    ViewData["Title"] = "Home page";
}

<script src="js/moment/moment.js"></script>

<div class="container-fluid mt-5 pl-5 pr-5 mb-5">
    <div class="row mr-4 ml-4">
       @* <div class="col-3">
            <br />
            <div class="border rounded shadow p-4">
                <h3 class="d-flex align-items-center">
                    Newest posts
                    <span class="badge badge-danger ml-2">
                        <ion-icon name="flame-outline"></ion-icon>
                    </span>
                </h3>
                <div class="container-fluid mt-4">
                    <!-- New events -->
                    <div class="card-deck">
                        @{int i = 0;}
                        @foreach (var _post in Model.NewestPost)
                        {
                            i++;
                            if (i < 3)
                            {
                                <div class="card event d-flex">
                                    <div class="card-body flex-grow-0">
                                        <h5 class="card-title mb-4">@_post.FlowerBouquetName</h5>
                                        <div class="d-flex align-items-center mb-2">
                                            <ion-icon class="event-time" name="time-outline"></ion-icon>
                                            <div class="d-flex align-items-center">
                                                <ion-icon class="event-time" name="people-outline"></ion-icon>
                                            </div>
                                        </div>
                                        <div class="tag d-flex align-items-center rounded w-100 text-truncate" id="description">
                                            @_post.Description
                                        </div>
                                    </div>
                                    <a asp-page="./Details" asp-route-id="@_post.FlowerBouquetId" class="stretched-link"></a>
                                </div>
                            }
                            else
                            {
                                break;
                            }

                        }
                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-9">
            <div class="border rounded shadow p-4">
                <h3 class="text-center">
                    <ion-icon name="filter-outline"></ion-icon> Filter
                </h3>
                <form asp-page="./Index" method="GET">
                    <div class="form-inline search-bar pb-3">
                        <div class="input-group search-bar">
                            <input name="txtSearchName" type="text" value="@Model.SearchName"
                                   class="form-control" placeholder="Search something..."
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary d-flex justify-content-center align-items-center"
                                        type="submit" id="button-addon2">
                                    <ion-icon name="search-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p class="mb-3">
                        <label for="cat-select" class="h5">Category: </label>
                        <select class="custom-select" id="cat-select" select
                                name="filterCategory"
                                value="@Model.CategoryId"
                                asp-items="ViewBag.CategoryId">
                            <option>All</option>
                        </select>
                    </p>
                    <hr />
                    <button type="submit"
                            asp-route-currentFilterCategory="@Model.CategoryId"
                            class="btn btn-outline-primary btn-block d-flex align-items-center justify-content-center">
                        <ion-icon class="mr-2" name="funnel-outline"></ion-icon>
                        <span>Filter</span>
                    </button>
                </form>


                <hr class="mt-4 mb-4" />
               
                @if (Model.Post.Any())
                {
                    <!-- Event list -->
                    <div class="row row-cols-1 row-cols-md-3">
                        @foreach (var _post in Model.Post)
                        {
                            <div class="col mb-4 d-flex">
                                <div class="card event flex-grow-1">
                                   
                                    <div class="card-body flex-grow-0">
                                        <h5 class="card-title mb-4">@_post.FlowerBouquetName</h5>
                                        <div class="d-flex align-items-center mb-2">
                                            <ion-icon class="event-time" name="time-outline"></ion-icon>
                                            <div class="d-flex align-items-center">
                                                <ion-icon class="event-time" name="people-outline"></ion-icon>
                                                <span class="font-weight-bold ml-2">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="tag d-flex align-items-center rounded w-100 text-truncate" id="description">
                                            @_post.Description
                                        </div>
                                    </div>
                                    <a asp-page="./Details" asp-route-id="@_post.FlowerBouquetId" class="stretched-link"></a>
                                </div>
                            </div>
                        }
                    </div>

                    var prevDisabled = !Model.Post.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Post.HasNextPage ? "disabled" : "";

                    <nav>
                        <ul class="pagination justify-content-center pagination-lg">
                            <li class="page-item btn-lg">
                                <a asp-page="./Index"
                               asp-route-pageIndex="@(Model.Post.PageIndex - 1)"
                               asp-route-currentSearchName="@Model.SearchName"
                               asp-route-currentFilterCategory="@Model.CategoryId"
                               class="btn btn-primary page-link @prevDisabled">
                                    Previous
                                </a>
                            </li>

                            <li class="page-item btn-lg" style="width: 156px">
                                <a asp-page="./Index"
                               asp-route-pageIndex="@(Model.Post.PageIndex + 1)"
                               asp-route-currentSearchName="@Model.SearchName"
                               asp-route-currentFilterCategory="@Model.CategoryId"
                               class="btn btn-primary page-link @nextDisabled">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
                else
                {
                    <h4 class="text-center p-5">No post found!</h4>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change your password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="currentPassword">Current password</label>
                        <input type="password" class="form-control" id="currentPassword" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Re-enter password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-block mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>